<div class="row">
    <div class="panel panel-default">

        <div class="panel-body">

            <button  class="btn  btn-primary btn-sm fa fa-plus-square-o" ng-click="go('/empresa')">Gerenciar Empresas</button>
            <button  class="btn  btn-primary btn-sm fa fa-plus-square-o" ng-click="go('/software')">Gerenciar Softwares</button>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="panel panel-default">

        <div class="panel-body">
            <input  class="form-control" type="text" ng-model="criterioDeBusca" placeholder="digite..." />
            <div class="table-responsive">
                <table ng-show="softwares.length > 0" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Software</th>
                            <th>Empresa</th>
                            <th>Categoria</th>
                            <th>Tema</th>
                            <th>&nbsp;</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr  ng-repeat="item in softwares| filter:criterioDeBusca | limitTo:10">
                            <td>{{item.nome}}</td>
                            <td>{{item.empresa.nome}}</td>
                            <td>{{item.categoria}}</td>
                            <td>{{item.tema}}</td>
                            <td> 
                                <button  class="btn  btn-primary btn-sm" ng-click="go('/empresa')">+ Detalhes</button>
                                <button  class="btn  btn-success btn-sm" ng-click="go('/empresa')">Avaliar</button>
                             </td>

                        </tr>

                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.row -->


</div>

