<div class="row">
    <div class="col-lg-19">
        <h3 class="page-header">{{titulo}}</h3>
    </div>
</div>
<div class="row">
    <div class="master-btns">
        <a href="index.html#/empresa"><span class="glyphicon glyphicon-tower"></span><span>Gerenciar Empresas</span></a>
        <a href="index.html#/software"><span class="glyphicon glyphicon-floppy-disk"></span><span>Gerenciar Softwares</span></a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <canvas id="doughnut" 
                    class="chart chart-doughnut"
                    chart-data="data"
                    chart-labels="labels"
                    chart-options="options"
                    width="400"
                    height="400">
            </canvas>
        </div>
        <div class="col-md-8 lista-categorias">
            <div class="row">
                <div ng-repeat="categoria in categorias">
                    <div class="clearfix" ng-if="$index % 5 == 0"></div>
                    <div class="col-md-2 item">
                        <a href="index.html#/software/categoria/{{categoria.id}}">
                            <span>
                                <img src="imgs/{{categoria.image}}">
                                <i>{{categoria.nome}}</i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>