<div class="row">
    <div class="col-lg-19">
        <h3 class="page-header">{{titulo}}</h3>
        <button class="btn btn-primary btn-sm" ng-click="software = {}">Novo Software</button>
        <br/><br/>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            Dados da Softwares
        </div>
        <div class="panel-body">

            <div class="alert" ng-class="notificacaoClass" ng-show="mensagem !== ''">
                {{mensagem}} 
            </div>
            <form role="form" name="formulario">
                <hidden ng-model="software.id" name="id"/>
                <div class="col-lg-6">

                    <div class="form-group">
                        <label>Empresa</label>
                        <select name="selEmpresa" 
                                id="selEmpresa" 
                                class="form-control" 
                                required="true" 
                                ng-model="software.empresa_id" 
                                ng-options="empresa.id as empresa.nome for empresa in empresas">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Descrição</label>
                        <textarea class="form-control" ng-model="software.descricao" name="descricao" ng-required="true" ></textarea>
                    </div>
                    <div class="form-group">
                        <label>Categoria</label>
                        <select class="form-control" 
                                ng-model="software.categoria_id"
                                ng-options="categoria.id as categoria.nome for categoria in categorias">
                            <option value="">Selecione uma categoria</option>
                        </select>  
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Nome Software</label>
                        <input class="form-control" ng-model="software.nome" ng-required="true" />
                    </div>

                    <div class="form-group">
                        <label>Tema</label>
                        <input class="form-control" ng-model="software.tema" />
                    </div>
                    <div class="form-group">
                        <label>Demo</label>
                        <input class="form-control" ng-model="software.demo" ng-required="true" />
                    </div>
                </div>


                <button class="btn btn-primary btn-sm" ng-click="adicionar(software)" ng-disabled="formulario.$invalid">Salvar</button>
                <button  class="btn btn-primary btn-sm btn-danger" ng-disabled="formulario.$invalid" ng-click="apagar()">Excluir</button>

            </form>

        </div>


    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="panel panel-default">

        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <input  class="form-control" type="text" ng-model="filtro.nome" placeholder="digite..." />
                </div>
                <div class="form-group">
                    <select class="form-control" 
                            ng-model="filtro.categoria_id"
                            ng-options="categoria.id as categoria.nome for categoria in categorias">
                    </select>
                </div>
            </div>
            <div class="table-responsive">
                <table ng-show="softwares.length > 0" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Software</th>
                            <th>Empresa</th>
                            <th>Categoria</th>
                            <th>Tema</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-click="editData(item)" 
                            ng-repeat="item in softwares | filter: getFiltros(filtro) | limitTo: paginador.getLimit() : paginador.getOffset()">
                            <td>{{item.nome}}</td>
                            <td>{{item.empresa.nome}}</td>
                            <td>{{item.categoria_id| categoriaNome}}</td>
                            <td>{{item.tema}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <ng-include src="'view/paginador.html'"></ng-include>

        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.row -->
